<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= Anecdote.inline_js %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-s2n3k1-disabled">
  <div class="anecdote-wysicontent-ndj4ab">
    <%= yield %>
  </div>
</div>

</body>
</html>
