$respond-device-medium-handheld: 350px;
$respond-device-large-handheld: 430px;
$respond-device-tablet: 650px;
$respond-device-laptop: 960px;
$respond-device-large-monitor: 1300px;
$fix-mqs: false !default;

@mixin respond($type, $device) {
  // Determine device width
  $width: 1px;
  @if $device == medium-handheld {
    $width: $respond-device-medium-handheld;
  } @else if $device == large-handheld {
    $width: $respond-device-large-handheld;
  } @else if $device == tablet {
    $width: $respond-device-tablet;
  } @else if $device == laptop {
    $width: $respond-device-laptop;
  } @else if $device == large-monitor {
    $width: $respond-device-large-monitor;
  }
  // If we're outputting for a fixed media query set...
  @if $fix-mqs and $type == min {
    // ...and if we should apply these rules...
    @if $fix-mqs >= $width {
      // ...output the content the user gave us.
      @content;
    }
  } @else {
    // Otherwise, output it using a regular media query
    @if $type == min {
      @media screen and (min-width: $width) {
        @content;
      }
    } @else if $type == max {
      @media screen and (max-width: $width) {
        @content;
      }
    }
  }
}

$old-ie: false !default;
@mixin old-ie {
  // Only use this content if we're dealing with old IE
  @if $old-ie {
    @content;
  }
}

%undo-page-padding {
  margin-left: -1rem;
  margin-right: -1rem;
  @include respond(min, tablet) {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

%sans-serif {
  font-family: "museo-sans", Avenir;
}
%centered-standard-width {
  width: 30rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-family: "minion-pro", "Minion Pro";
  font-size: 16px;
  @include respond(min, large-handheld) {
    font-size: 18px;
  }
  @include respond(min, tablet) {
    font-size: 20px;
  }
  @include respond(min, large-monitor) {
    font-size: 22px;
  }
  padding: 1em;
  @include respond(min, tablet) {
    padding: 2em;
  }
}


.container-s2n3k1 {
  max-width: 1000px;
  margin: 0 auto;
}


.anecdote-wysicontent-ndj4ab {
  > h1, > h2, > h3, > h4 {
    @extend %sans-serif;
  }
  > h1, > h2, > h3, > h4, > p, > ul, > ol, > blockquote, > pre {
    @extend %centered-standard-width;
    .anecdote-wysicontent-ndj4ab & {
      max-width: none;
    }
  }
  strong {
    font-weight: 600;
  }
  em {
    font-style: italic;
  }
}


.anecdote-intrinsic-embed-n42ha1 {
  box-shadow: 0 1px 4px -1px rgba( 0, 0, 0, 0.2 );
  border-top: 1px solid rgba( 0, 0, 0, 0.035 );
  border-radius: 3px;
}


.anecdote-module-3ba83n {
  margin-top: 1rem;
  margin-bottom: 1rem;
  @extend %centered-standard-width;
  &.v-size-full-width {
    width: auto;
    > .inner {
      @extend %undo-page-padding;
    }
  }
  &.v-size-big { width: 40rem; }
  &.v-size-medium { width: 20rem; }
  &.v-size-small { width: 10rem; }
}


.anecdote-pull-quote-sba2ha {
  @extend %sans-serif;
  em {
    font-style: normal;
  }
}


// Prevent iOS and IE text size adjust after device orientation change without disabling user zoom
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
// Prevent iOS auto-zoom on form focus without disabling user zoom
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select, textarea, input {
    font-size: 16px;
  }
}
