<!DOCTYPE html>
<html>
<head>
  <title>Anecdote</title>
  <%= stylesheet_link_tag    "anecdote/application", media: "all" %>
  <%= javascript_include_tag "anecdote/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
