.anecdote-wysicontent-ndj4ab {
  > *:first-child { margin-top: 0; }
  > *:last-child { margin-bottom: 0; }
  > p, > ul, > ol, > blockquote, > pre {
    @include formatted-text( 1, 1, 1 );
  }
  > h1, > h2, > h3, > h4 {
    font-weight: 600;
  }
  > h1 { @include formatted-text( 2 ); }
  > h2 { @include formatted-text( 1.5, 3 ); }
  > h3 { @include formatted-text( 1.25, 3 ); }
  > h4 { @include formatted-text( 1.15, 3 ); }
  > code, > pre {
    font-family: monospace;
  }
  > blockquote, > q {
    padding: 0 1.8em;
    quotes: '\201C' '\201D';
    font-style: italic;
    color: #777;
    &:before { content: '\201C' }
    &:after { content: '\201D' }
  }
  > ul, > ol {
    > li {
      padding-left: 1.5em;
      @include formatted-text( 1, 0.75, 0.75 );
    }
  }
}

.anecdote-intrinsic-embed-n42ha1 {
  max-width: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  > .inner {
    height: 0;
    padding-bottom: 50%;
    position: relative;
    > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.anecdote-module-3ba83n {
  @include remify( margin-top margin-bottom, 1 );
  max-width: 100%;

  &.v-float-right, &.v-float-left {
    @include margin-horizontal( auto );
  }
  @include respond(min, large-handheld) {
    &.v-size-small {
      @include remify( margin, 0.75, 2 );
      &.v-float-right {
        float: right;
        margin-right: 0;
      }
      &.v-float-left {
        float: left;
        margin-left: 0;
      }
    }
  }
  @include respond(min, laptop) {
    &.v-size-medium {
      margin: 0.75rem 2rem;
      &.v-float-right {
        float: right;
        margin-right: 0;
      }
      &.v-float-left {
        float: left;
        margin-left: 0;
      }
    }
  }
}

.anecdote-pull-quote-sba2ha {
  font-style: italic;
  @include formatted-text( 1.3, false, false );
  color: #333;
  border: 1px solid #eee;
  border-left: none;
  border-right: none;
  @include remify( padding-top padding-bottom, 1 );
  @include respond(max, large-handheld) {
    &.v-size-small {
      width: 100%;
    }
  }
  @include respond(max, laptop) {
    &.v-size-medium {
      width: 100%;
    }
  }
}
